<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>首页</title>
        <meta name="keywords" content="首页" />
        <meta name="description" content="首页" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js" charset="utf-8"></script>
</head>
<body>
    <div class="showall">
        {{.content}}
    </div>
</body>
</html>
