<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>首页</title>
        <meta name="keywords" content="首页" />
        <meta name="description" content="首页" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var showproduct = {
                    'boxid': 'showbox',
                    'sumid': 'showsum',
                    'boxw': 400,//宽度,该版本中请把宽高填写成一样
                    'boxh': 400,//高度,该版本中请把宽高填写成一样
                    'sumw': 60,//列表每个宽度,该版本中请把宽高填写成一样
                    'sumh': 60,//列表每个高度,该版本中请把宽高填写成一样
                    'sumi': 7,//列表间隔
                    'sums': 5,//列表显示个数
                    'sumsel': 'sel',
                    'sumborder': 1,//列表边框，没有边框填写0，边框在css中修改
                    'lastid': 'showlast',
                    'nextid': 'shownext'
                };//参数定义	  
                $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
            });
    </script>
</head>
<body>
    <div class="showall">
        <!--左侧 -->
        <div class="showbot">
            <!--大图-->
            <div id="showbox">
                {{range .Photos}}
                    <img src="/static/img/photos/{{.ImagePath}}" width="400" height="400" />
                {{end}}
            </div>
            <!--缩略图盒子-->
            <div id="showsum">
            <!--缩略图，由JS动态插入-->
            </div>
            <p class="showpage">
                <a href="javascript:void(0);" id="showlast"> < </a>
                <a href="javascript:void(0);" id="shownext"> > </a>
            </p>
        </div>
        
        <!--中间内容 -->
        <div class="tb-property">
            <div class="tr-nobdr">
                <h3>{{.Title}}</h3>
            </div>
            <div class="txt">
                <span class="nowprice">￥<a href="">{{.Price}}</a></span>
                <div class="cumulative">
                    <span class="number ty1">累计售出<br /><em id="add_sell_num_363">10000</em></span>
                    <span class="number tyu">累计评价<br /><em id="add_sell_num_363">5015</em></span>
                </div>
            </div>
            <div class="txt-h">
                <span class="tex-o">分类</span>
                    <ul class="glist" id="glist" data-monitor="goodsdetails_fenlei_click">
                        <li><a title="Beego框架" href="">Beego框架</a></li>
                        <li><a title="Gin框架" href="">Gin框架</a></li>
                    </ul>
                </div>
                <script>
                    $(document).ready(function(){
                        var t = $("#text_box");
                        $('#min').attr('disabled',true);
    	                  $("#add").click(function(){    
                            t.val(parseInt(t.val())+1);
                            if (parseInt(t.val())!=1){
                                $('#min').attr('disabled',false);
                            }
                        });
                        $("#min").click(function(){
                            t.val(parseInt(t.val())-1);
                            if (parseInt(t.val())==1){
                                $('#min').attr('disabled',true);
                            }
                        });  
                    });
                </script>  
                <div class="gcIpt">
                    <span class="guT">数量</span>
                    <input id="min" name="" type="button" value="-" />  
                    <input id="text_box" name="" type="text" value="1"style="width:30px; text-align: center; color: #0F0F0F;"/>  
                    <input id="add" name="" type="button" value="+" />
                    <span class="Hgt">库存（99）</span>
                </div>
                <div class="nobdr-btns">
                    <button class="addcart hu"><img src="/static/img/shop.png" width="25" height="25"/>加入购物车</button>
                    <button class="addcart yh"><img src="/static/img/ht.png" width="25" height="25"/>立即购买</button>
                </div>
                <div class="guarantee">
                    <span>邮费：包邮&nbsp;&nbsp;支持货到付款 <a href=""><img src="/static/img/me.png"/></a></span>
                </div>
            </div>
         
        <!--右侧 -->
        <div class="extInfo">
        	  <div class="brand-logo">
        	      <a href="" title="隔壁王校长瞎编的">
        	          <img src="/static/img/ho_03.png"/>
        	      </a>
        	  </div>
            <div class="seller-pop-box">
                <span class="tr">商家名称：隔壁王校长瞎编的</span>
        	      <span class="tr">商家等级：最强王者</span>
        	      <span class="tr">商家电话：13000000000</span>
        	      <span class="tr hoh">
                    <a title="北京市" href="">所在地区：北京市海淀区瞎编的路瞎编的小区</a>
        	      </span>
        	  </div>
        	  <div class="seller-phone">
	            	<span class="pop im">
	            	    <a href="" data-name="联系卖家"><img src="/static/img/phon.png"/>联系卖家</a>
	            	</span>
	            	<span class="pop in">
	            	    <a href="" data-name="咨询卖家"><img src="/static/img/qq.png"/>咨询卖家</a>
	            	</span>
	            	<span class="pop in">
	            	    <a href="" data-name="进店逛逛"><img src="/static/img/shop-line.png"/>进店逛逛</a>
	            	</span>
	            	<span class="pop in">
	            	    <a href="" data-name="关注店铺"><img src="/static/img/staar.png"/>关注店铺</a>
	            	</span>
            </div>
        	  <div class="jd-service">
        	      <a href="">
        	          <img src="/static/img/ho_07.png"/>
        	      </a>
        	  </div>
        	  <div class="support-icons">
        	      <h4>扫一扫<br />隔壁王校长</h4>
        	      <img src="/static/img/ho_11.png"/>
        	  </div>
        </div>
    </div>                
</body>
</html>
